<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Create Purchase Order Page</title>

        <!-- Meta -->
        <th:block th:replace="/layout/head/meta"/>
        <!-- App-favicon -->
        <th:block th:replace="/layout/head/app-favicon"/>
        <!-- Touch-spin-css -->
        <th:block th:replace="/layout/head/bootstrap-touchspin-css"/>
        <!-- twitter-bootstrap-wizard css -->
        <th:block th:replace="/layout/head/twitter-bootstrap-wizard"/>
        <!-- Main -->
        <th:block th:replace="/layout/head/main"/>
        <!-- Font-awesome-css -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom css -->
        <th:block th:replace="/layout/head/custom-css"/>

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- Begin page-topbar -->
            <th:block th:replace="/layout/page-topbar :: page-topbar"/>
            <!-- End page-topbar -->

            <!-- Begin vertical-menu -->
            <th:block th:replace="/layout/vertical-menu :: vertical-menu"/>
            <!-- End vertical-menu -->

            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Create Purchase Order</h4>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Order</a></li>
                                            <li class="breadcrumb-item active">Create</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="basic-pills-wizard" class="twitter-bs-wizard">
                                            <ul class="twitter-bs-wizard-nav">
                                                <li class="nav-item">
                                                    <a href="#select-product" class="nav-link" data-toggle="tab">
                                                        <span class="step-number mr-2">01</span>
                                                        Select product
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#supplier-info" class="nav-link" data-toggle="tab">
                                                        <span class="step-number mr-2">02</span>
                                                        <span>Supplier infomation</span>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#order-status" class="nav-link" data-toggle="tab">
                                                        <span class="step-number mr-2">03</span>
                                                        Order status
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content twitter-bs-wizard-tab-content">
                                                <div class="tab-pane form-group" id="select-product">
                                                    <div class="position-relative col-sm-12 mb-3">
                                                        <input type="text" class="form-control" placeholder="Search product...">
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-centered mb-0 table-nowrap text-center">
                                                            <thead class="thead-light">
                                                            <tr>
                                                                <th>Image</th>
                                                                <th>Title</th>
                                                                <th>Price</th>
                                                                <th>Quantity</th>
                                                                <th>Total</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <img src="\assets\images\product\img-1.png" alt="product-img" title="product-img" class="avatar-md">
                                                                </td>
                                                                <td>
                                                                    <a href="/products/details/${slug}" class="text-dark text-left">Half sleeve T-shirt</a>

                                                                </td>
                                                                <td>
                                                                    <input id="price" name="price" type="text" class="form-control" style="width: 132px;display: inline-block;margin: 0 auto;">                                                     </td>
                                                                <td>
                                                                    <div style="width: 120px;display: inline-block;margin: 0 auto;">
                                                                        <div class="input-group bootstrap-touchspin">
                                                                            <input type="text" value="02" name="demo_vertical" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>$ 900</td>
                                                                <td>
                                                                    <a href="javascript:void(0);" class="action-icon text-danger"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                            <tfoot>
                                                            <tr>
                                                                <td colspan="4"></td>
                                                                <td>Total Quantity: </td>
                                                                <td class="text-right" colspan="2" id="totalQuantity">10</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"></td>
                                                                <td>Total Amount: </td>
                                                                <td class="text-right font-size-15" colspan="2"><b id="totalAmount">1,857</b> ₫</td>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="tab-pane active" id="supplier-info">
                                                    <div class="row mb-2">
                                                        <div class="col-sm-4">
                                                            <h4 class="card-title mb-3">Suppplier</h4>
                                                        </div>
                                                        <div class="col-sm-8 text-sm-right">

                                                            <button id="btnShowCreateSupplierModal" type="button" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2">
                                                                <i class="mdi mdi-plus mr-1"></i>
                                                                Add New
                                                            </button>
                                                            <button id="btnShowUpdateSupplierModal" type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2">
                                                                <i class="mdi mdi-pencil mr-1"></i>
                                                                Update
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <select class="form-control" id="selectSupplier"><option value="1">(1) Tiki</option><option value="2">(2) Lazada</option><option value="3">(3) Shopee</option><option value="4">(4) Sen đỏ</option></select>
                                                    </div>

                                                    <div class="table-responsive col-sm-6 table-hover">
                                                        <table class="table  mb-0">
                                                            <tbody>
                                                            <tr>
                                                                <th>Email :</th>
                                                                <td id="email">tiki@co.cc</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Phone :</th>
                                                                <td id="phone">0123456789</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Discount :</th>
                                                                <td><span id="discount">0.01</span> %</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Address :</th>
                                                                <td id="address">28 NTP</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Ward : </th>
                                                                <td id="ward">Thị trấn Hòa Bình</td>
                                                            </tr>
                                                            <tr>
                                                                <th>District :</th>
                                                                <td id="district">Huyện Hoà Bình</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Province : </th>
                                                                <td id="province">Tỉnh Bạc Liêu</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="order-status">
                                                    <div class="row mt-3">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Order Status</label>
                                                                <select class="custom-select">
                                                                    <option value="PENDING">Đang chờ xử lý</option>
                                                                    <option value="COMPLETE">Hoàn tất</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                                <li class="previous"><a href="#">Previous</a></li>
                                                <li class="next"><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                    </div> <!-- end col -->
                                    <div class="col-sm-6">
                                        <div class="text-sm-right mt-2 mt-sm-0">
                                            <button id="btnCreatePurchaseOrder" type="button" class="btn btn-success">
                                                <i class="mdi mdi-cart-arrow-right mr-1"></i>
                                                Checkout
                                            </button>
                                        </div>
                                    </div> <!-- end col -->
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- Footer Start -->
                <footer class="footer">
                    <th:block th:replace="/layout/head/error-collapse"/>
                </footer>
                <!-- End Footer -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- END layout-wrapper -->
        <div class="loader hide"></div>

        <th:block th:replace="/purchase-order/modal_create_supplier"/>
        <th:block th:replace="/purchase-order/modal_update_supplier.html"/>

        <!-- Right Sidebar -->
        <th:block th:replace="/layout/right-bar"/>
        <!-- End right-bar -->

        <!-- JAVASCRIPT -->
        <th:block th:replace="/layout/script/javascript"/>
        <!-- Touch-spin Js -->
        <th:block th:replace="/layout/script/bootrstrap-touchspin-js"/>

        <!-- twitter-bootstrap-wizard js -->
        <th:block th:replace="/layout/script/twitter-bootstrap-wizard"/>
        <!-- form wizard init -->
        <th:block th:replace="/layout/script/form-wizard"/>
        <!-- App js -->
        <th:block th:replace="/layout/script/app-js"/>
    </body>

    <script>

        let page = {
            url: {
                getAllProvinces: App.GET_PROVINCES + "/",
                getAllDistricts: App.GET_PROVINCES + "/district/",
                getAllWards: App.GET_PROVINCES + "/ward/",

                getAllSuppliers: App.BASER_URL + "/suppliers",
                getSupplierById: App.BASER_URL + "/suppliers/",
                saveSupplier: App.BASER_URL + "/suppliers",
                updateSupplier: App.BASER_URL + "/suppliers/"

            },
            elements: {
                role: {},
                userInfo: {
                    locationRegion: {}
                },

            },
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {},
                alertDanger: {}
            },

            initializeControlEvent: {}
        }

        let locationRegion = {};
        let supplier = {};
        let supplierId;

        page.elements.btnShowCreateSupplierModal = $('#btnShowCreateSupplierModal');
        page.elements.mdCreateSupplier = $('#mdCreateSupplier');

        page.elements.btnShowUpdateSupplierModal = $('#btnShowUpdateSupplierModal');
        page.elements.mdUpdateSupplier = $('#mdUpdateSupplier');

        page.elements.selectSupplier = $('#selectSupplier');

        page.elements.email = $('#email');
        page.elements.phone = $('#phone');
        page.elements.discount = $('#discount');
        page.elements.address = $('#address');
        page.elements.ward = $('#ward');
        page.elements.district = $('#district');
        page.elements.province = $('#province');

        page.elements.totalAmount = $('#totalAmount');
        page.elements.totalQuantity = $('#totalQuantity');

        page.elements.companyNameCre = $('#companyNameCre');
        page.elements.phoneCre = $('#phoneCre');
        page.elements.emailCre = $('#emailCre');
        page.elements.addressCre = $('#addressCre');
        page.elements.wardCre = $('#wardCre');
        page.elements.districtCre = $('#districtCre');
        page.elements.provinceCre = $('#provinceCre');

        page.elements.companyNameUp = $('#companyNameUp');
        page.elements.phoneUp = $('#phoneUp');
        page.elements.emailUp = $('#emailUp');
        page.elements.addressUp = $('#addressUp');
        page.elements.discountUp = $('#discountUp');
        page.elements.wardUp = $('#wardUp');
        page.elements.districtUp = $('#districtUp');
        page.elements.provinceUp = $('#provinceUp');

        page.elements.btnCreateSupplier = $('#btnCreateSupplier');
        page.elements.btnUpdateSupplier = $('#btnUpdateSupplier');

        page.elements.footerAccordion = $(".footer-modal section.accordion");
        page.elements.footerContent = $(".footer-modal section.accordion .content");
        page.elements.accordionCollapse = $('input[name=collapse]');


        page.commands.drawSuppliers = () => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllSuppliers
            })
            .done((data) => {
                page.elements.selectSupplier.empty()

                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">(${item.id}) ${item.companyName}</option>`;

                    page.elements.selectSupplier.append(str);
                })
                console.log(data)
            })
            .fail((jqxHR) => {
                console.log(jqxHR);
            })
        }

        page.commands.drawProvinces = () => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllProvinces
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                        page.elements.provinceCre.append(str);
                        page.elements.provinceUp.append(str);
                    })
                })
                .fail((jqxHR) => {
                    console.log(jqxHR);
                })
        }

        page.commands.drawDistricts = (provinceId) => {
            return $.ajax({
                "headers": {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllDistricts + provinceId
            })
            .done((data) => {

                if (data.results.length === 0) {
                    App.IziToast.showErrorAlert("Loading of districts is fail");
                }else {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                        page.elements.districtCre.append(str);
                        page.elements.districtUp.append(str)
                    })
                }
            })
        }

        page.commands.drawWards = (districtId) => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllWards + districtId

            })
                .done((data) => {
                    if (data.results.length === 0) {
                        App.IziToast.showErrorAlert("Loading of wards is fail");
                    }else {
                        $.each(data.results, (i, item) => {
                            let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                            page.elements.wardCre.append(str);
                            page.elements.wardUp.append(str);
                        })
                    }
                })
        }

        page.dialogs.commands.provinceChange = () => {
            return $.ajax({
                "type": "GET",
                "url": page.url.getAllDistricts + locationRegion.provinceId
            }).done((data) => {
                page.elements.districtCre.empty();
                page.elements.districtUp.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    page.elements.districtCre.append(str);
                    page.elements.districtUp.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of districts is fail");
            });
        }

        page.dialogs.commands.districtChange = () => {
            $.ajax({
                "type": "GET",
                "url": page.url.getAllWards + locationRegion.districtId

            }).done((data) => {
                page.elements.wardCre.empty();
                page.elements.wardUp.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    page.elements.wardCre.append(str);
                    page.elements.wardUp.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of wards is fail");
            });
        }

        page.commands.supplierChange = () => {
            $.ajax({
                "type": "GET",
                "url": page.url.getSupplierById + supplierId

            }).done((data) => {
                supplier = data;
                locationRegion = supplier.locationRegion;

                page.elements.email.text(supplier.email);
                page.elements.phone.text(supplier.phone);
                page.elements.discount.text(supplier.discount);
                page.elements.address.text(supplier.locationRegion.address);
                page.elements.ward.text(supplier.locationRegion.wardName);
                page.elements.district.text(supplier.locationRegion.districtName);
                page.elements.province.text(supplier.locationRegion.provinceName);
            })
        }

        page.commands.handleShowUpdateModal = () => {
            $.ajax({
                "type": "GET",
                "url": page.url.getSupplierById + supplierId

            }).done((data) => {
                supplier = data;

                page.elements.wardUp = $('#wardUp');
                page.elements.districtUp = $('#districtUp');
                page.elements.provinceUp = $('#provinceUp');

                page.elements.companyNameUp.val(supplier.companyName);
                page.elements.phoneUp.val(supplier.phone);
                page.elements.emailUp.val(supplier.email);
                page.elements.discountUp.val(supplier.discount);

                page.elements.addressUp.val(locationRegion.address);
                page.elements.provinceUp.val(locationRegion.provinceId);
                page.elements.districtUp.empty();

                page.commands.drawDistricts(locationRegion.provinceId).then(function () {
                    page.elements.districtUp.val(locationRegion.districtId);
                    page.elements.wardUp.empty();

                    page.commands.drawWards(locationRegion.districtId).then(function (){
                        page.elements.wardUp.val(locationRegion.wardId);
                    });
                });

            })

            page.elements.mdUpdateSupplier.modal('show');

        }

        page.commands.doCreateSupplier = () => {
            page.elements.footerAccordion.removeClass("show").addClass("hide");
            page.elements.footerContent.empty();
            page.elements.accordionCollapse.prop("checked", false);
            page.elements.footerAccordion.addClass("accordion-modal-lg");
            page.elements.btnCreateSupplier.prop('disabled', true);

            locationRegion.id = "0";
            locationRegion.provinceId = page.elements.provinceCre.val();
            locationRegion.provinceName = page.elements.provinceCre.find(":selected").text();
            locationRegion.districtId = page.elements.districtCre.val();
            locationRegion.districtName = page.elements.districtCre.find(":selected").text();
            locationRegion.wardId = page.elements.wardCre.val();
            locationRegion.wardName = page.elements.wardCre.find(":selected").text();
            locationRegion.address = page.elements.addressCre.val();

            supplier.id = "0";
            supplier.companyName = page.elements.companyNameCre.val();
            supplier.email = page.elements.emailCre.val();
            supplier.phone = page.elements.phoneCre.val();
            supplier.discount = 0;
            supplier.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": page.url.saveSupplier,
                "data": JSON.stringify(supplier)
            })
            .done((item) => {
                supplier = item;
                console.log(supplier);

                page.commands.drawSuppliers();

                page.elements.mdCreateSupplier.modal('hide');
                App.SweetAleart.showSuccessAlert(App.SUCCESS_CREATED);

                page.commands.unbindAll();
            })
            .fail((jqxHR) => {
                console.log(jqxHR)
                App.IziToast.showErrorAlert(App.ERROR_400)

                page.elements.footerAccordion.removeClass("hide").addClass("show");
                page.elements.footerContent.empty();
                page.elements.accordionCollapse.prop("checked", true);

                let str = ``;

                if (jqxHR.status === 401) {
                    str += `<label id="message-error" class="error">${App.ERROR_401}</label>`;
                } else {
                    if (jqxHR.status === 403) {
                        str += `<label id="message-error" class="error">${App.ERROR_403}</label>`;
                    } else {
                        if (jqxHR.responseJSON) {
                            if (jqxHR.responseJSON.message) {
                                str += `<label id="message-error" class="error" for="message">${jqxHR.responseJSON.message}</label>`;
                            } else {
                                $.each(jqxHR.responseJSON, function (key, value) {
                                    str += `<label id="${key}-error" class="error" for="${key}">${value}</label>`;
                                    $("#" + key).addClass("error");
                                });
                            }
                        } else {
                            str += `<label id="message-error" class="error">${App.ERROR_500}</label>`;
                        }
                    }
                }

                console.log(str)

                page.elements.footerContent.html(str);
            })
            .always(function () {
                page.elements.btnCreateSupplier.prop('disabled', false);
            });

        }

        page.commands.doUpdateSupplier = () => {
            page.elements.footerAccordion.removeClass("show").addClass("hide");
            page.elements.footerContent.empty();
            page.elements.accordionCollapse.prop("checked", false);
            page.elements.footerAccordion.addClass("accordion-modal-lg");
            page.elements.btnUpdateSupplier.prop('disabled', true);

            locationRegion.provinceId = page.elements.provinceUp.val();
            locationRegion.provinceName = page.elements.provinceUp.find(":selected").text();
            locationRegion.districtId = page.elements.districtUp.val();
            locationRegion.districtName = page.elements.districtUp.find(":selected").text();
            locationRegion.wardId = page.elements.wardUp.val();
            locationRegion.wardName = page.elements.wardUp.find(":selected").text();
            locationRegion.address = page.elements.addressUp.val();

            supplier.companyName = page.elements.companyNameUp.val();
            supplier.email = page.elements.emailUp.val();
            supplier.phone = page.elements.phoneUp.val();
            supplier.discount = page.elements.discountUp.val();
            supplier.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "PUT",
                "url": page.url.updateSupplier + supplierId,
                "data": JSON.stringify(supplier)
            })
                .done((item) => {
                    supplier = item;
                    console.log(supplier);

                    page.commands.drawSuppliers();
                    page.commands.supplierChange();

                    page.elements.mdUpdateSupplier.modal('hide');
                    App.SweetAleart.showSuccessAlert(App.SUCCESS_CREATED);

                    page.commands.unbindAll();
                })
                .fail((jqxHR) => {
                    console.log(jqxHR)
                    App.IziToast.showErrorAlert(App.ERROR_400)

                    page.elements.footerAccordion.removeClass("hide").addClass("show");
                    page.elements.footerContent.empty();
                    page.elements.accordionCollapse.prop("checked", true);

                    let str = ``;

                    if (jqxHR.status === 401) {
                        str += `<label id="message-error" class="error">${App.ERROR_401}</label>`;
                    } else {
                        if (jqxHR.status === 403) {
                            str += `<label id="message-error" class="error">${App.ERROR_403}</label>`;
                        } else {
                            if (jqxHR.responseJSON) {
                                if (jqxHR.responseJSON.message) {
                                    str += `<label id="message-error" class="error" for="message">${jqxHR.responseJSON.message}</label>`;
                                } else {
                                    $.each(jqxHR.responseJSON, function (key, value) {
                                        str += `<label id="${key}-error" class="error" for="${key}">${value}</label>`;
                                        $("#" + key).addClass("error");
                                    });
                                }
                            } else {
                                str += `<label id="message-error" class="error">${App.ERROR_500}</label>`;
                            }
                        }
                    }

                    console.log(str)

                    page.elements.footerContent.html(str);
                })
                .always(function () {
                    page.elements.btnUpdateSupplier.prop('disabled', false);
                });

        }


        page.commands.unbindAll = () => {
            $('.delete').off();
        }

        page.initializeControlEvent = () => {
            page.elements.btnShowCreateSupplierModal.on('click', () => {
                page.elements.mdCreateSupplier.modal('show');
            })

            page.elements.btnShowUpdateSupplierModal.on('click', () => {
                page.commands.handleShowUpdateModal();
            })

            page.elements.provinceCre.on('change', function () {
                locationRegion.provinceId = page.elements.provinceCre.val();

                page.dialogs.commands.provinceChange().done(function () {
                    locationRegion.districtId = page.elements.districtCre.prop("selectedIndex", 0).val();
                    page.dialogs.commands.districtChange();
                })
            })

            page.elements.districtCre.on('change', function () {
                locationRegion.districtId = page.elements.districtCre.val();
                page.dialogs.commands.districtChange();
            })

            page.elements.provinceUp.on('change', function () {
                locationRegion.provinceId = page.elements.provinceUp.val();

                page.dialogs.commands.provinceChange().done(function () {
                    locationRegion.districtId = page.elements.districtUp.prop("selectedIndex", 0).val();
                    page.dialogs.commands.districtChange();
                })
            })

            page.elements.districtUp.on('change', function () {
                locationRegion.districtId = page.elements.districtUp.val();
                page.dialogs.commands.districtChange();
            })

            page.elements.selectSupplier.on('change', function () {
                supplierId = page.elements.selectSupplier.val();
                page.commands.supplierChange();
            })

            page.elements.btnCreateSupplier.on('click', () => {
                page.commands.doCreateSupplier();
            })

            page.elements.btnUpdateSupplier.on('click', () => {
                page.commands.doUpdateSupplier();
            })

        }

        $(function () {

            page.commands.drawProvinces().then(function (){
                let provinceId = page.elements.provinceCre.prop("selectedIndex", 0).val();

                if (provinceId != null) {
                    page.commands.drawDistricts(provinceId).then(function (){
                        let districtId = page.elements.districtCre.prop("selectedIndex", 0).val();

                        if (districtId != null){
                            page.commands.drawWards(districtId);
                        }
                    })
                }
            });

            page.commands.drawSuppliers().then(function (){
                supplierId = 1;
                page.commands.supplierChange();
            });

            page.initializeControlEvent();
        })


    </script>

</html>