<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal_create_supplier">
    <div id="mdCreateSupplier" class="modal fade " data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title">Supplier information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <fieldset class="row g-3 mb-4">
                        <div class="col-md-12">
                            <label class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyNameCre" name="companyNameCre">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailCre" name="emailCre">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phoneCre" name="phoneCre">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Province</label>
                            <select class="form-control" id="provinceCre" name="provinceCre"></select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">District</label>
                            <select class="form-control" id="districtCre" name="districtCre"></select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Ward</label>
                            <select class="form-control" id="wardCre" name="wardCre"></select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" id="addressCre" name="addressCre">
                        </div>
                    </fieldset>

                    <div class="footer-modal">
                        <th:block th:replace="/layout/head/error-collapse"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnCreateSupplier" class="btn btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Create
                    </button>
                </div>


            </div>

            <div class="loader hide"></div>
        </div>
    </div>
</th:block>
