<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Update Product Page</title>

        <!-- Meta -->
        <th:block th:replace="/layout/head/meta :: meta"/>
        <!-- App-favicon -->
        <th:block th:replace="/layout/head/app-favicon :: app-favicon"/>

        <!-- select2 css -->
        <th:block th:replace="/layout/head/select2-css :: select2-css"/>
        <!-- dropzone css -->
        <th:block th:replace="/layout/head/dropzone-css :: dropzone-css"/>
        <!-- Summernote css -->
        <th:block th:replace="/layout/head/summernote :: summernote"/>

        <!-- Main -->
        <th:block th:replace="/layout/head/main :: main"/>

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- Begin page-topbar -->
            <th:block th:replace="/layout/page-topbar :: page-topbar"/>
            <!-- End page-topbar -->

            <!-- Begin vertical-menu -->
            <th:block th:replace="/layout/vertical-menu :: vertical-menu"/>
            <!-- End vertical-menu -->

            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Update Product</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Product</a></li>
                                            <li class="breadcrumb-item active">Update</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <!-- start product base form -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Product Data</h4>
                                <p class="card-title-desc">Fill all information below</p>

                                <form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="metatitle">Title</label>
                                                <input id="metatitle" name="productname" type="text" class="form-control" value="MacBook Air 13 M2 2022/ Gray/ Sliver/ Starlight/ Midnight">
                                            </div>
                                            <div class="form-group">
                                                <label for="metakeywords">Description</label>
                                                <input id="metakeywords" name="manufacturername" type="text" class="form-control" value="/..Description/">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="form-group">
                                    <label for="metakeywords">Image</label>

                                    <form action="/" method="post" class="dropzone dz-clickable form-group">

                                        <div class="dz-message needsclick">
                                            <div class="mb-3">
                                                <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                            </div>

                                            <h4>Drop files here or click to upload.</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <!-- start tech-spec -->
                        <div class="card">
                            <div class="card-body">

                                <div class="row mb-4">
                                    <div class="col-sm-4">
                                        <h4 class="card-title">Tech specs</h4>
                                    </div>
                                    <div class="col-sm-8 text-sm-right">
                                        <button type="button" id="btnCreateTechSpec" class="btn btn-primary btn-rounded waves-effect waves-light mb-2 mr-2 ">
                                            <i class="mdi mdi-plus mr-1"></i>
                                            Add New Spec
                                        </button>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="container-fluid">
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label col-lg-1">CPU : </label>
                                            <div class="col-lg-11">
                                                <input name="productname" type="text" class="form-control" value="Apple M2 8-core CPU">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label col-lg-1">RAM : </label>
                                            <div class="col-lg-11">
                                                <input name="productname" type="text" class="form-control" value="8GB unified memory Configurable to 16GB or 24GB">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label col-lg-1">Color : </label>
                                            <div class="col-lg-11">
                                                <input name="productname" type="text" class="form-control" value="gray, silver, starlight, midnight">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label col-lg-1">Display : </label>
                                            <div class="col-lg-11">
                                                <input name="productname" type="text" class="form-control" value="13.3 inch Retina (2560 x 1600), 500 nits brightness, Retina, True Tone Technology, Tấm nền IPS, Wide color (P3)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- start blog form -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Create New Task</h4>
                                <form class="outer-repeater">
                                    <div data-repeater-list="outer-group" class="outer">
                                        <div data-repeater-item="" class="outer">
                                            <div class="form-group row mb-4">
                                                <label for="taskname2" class="col-form-label col-lg-12">Task Name</label>
                                                <div class="col-lg-12">
                                                    <input id="taskname2" name="taskname" type="text" class="form-control" placeholder="Enter Task Name...">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label col-lg-12">Task Description</label>
                                                <div class="col-lg-12">
                                                    <div class="summernote">Hello Summernote</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light">Save</button>
                        <button type="submit" class="btn btn-secondary waves-effect">Cancel</button>

                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <th:block th:replace="/layout/right-bar :: right-bar"/>
        <!-- End right-bar -->

        <!-- Modal -->
        <th:block th:replace="/product/modal_tech_spec :: modal_tech_spec"/>
        <!-- END Modal -->


        <!-- JAVASCRIPT -->
        <th:block th:replace="/layout/script/javascript :: javascript"/>

        <!-- select 2 plugin -->
        <th:block th:replace="/layout/script/select-2-plugin :: select-2-plugin"/>
        <!-- dropzone plugin -->
        <th:block th:replace="/layout/script/dropzone-plugin :: dropzone-plugin"/>
        <!-- init js -->
        <th:block th:replace="/layout/script/init-js :: init-js"/>
        <!-- Summernote js -->
        <th:block th:replace="/layout/script/summernote :: summernote"/>
        <!-- form repeater js -->
        <th:block th:replace="/layout/script/repeater :: repeater"/>

        <!-- App js -->
        <th:block th:replace="/layout/script/app-js :: app-js"/>


        <script>
            $('#btnCreateTechSpec').on('click', () => {
                $('#mdCreateTechSpec').modal('show');
            })

        </script>
    </body>

</html>