<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home Page</title>

  <!-- Meta -->
  <th:block th:replace="/layout/head/meta :: meta"/>
  <!-- App-favicon -->
  <th:block th:replace="/layout/head/app-favicon :: app-favicon"/>
  <!-- Main -->
  <th:block th:replace="/layout/head/main :: main"/>

</head>

<body data-sidebar="dark">

<!-- Begin page -->
<div id="layout-wrapper">
  <!-- Begin page-topbar -->
  <th:block th:replace="/layout/page-topbar :: page-topbar"/>
  <!-- End page-topbar -->

  <!-- Begin vertical-menu -->
  <th:block th:replace="/layout/vertical-menu :: vertical-menu"/>
  <!-- End vertical-menu -->

  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0 font-size-18">Orders</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                  <li class="breadcrumb-item active">List</li>
                </ol>
              </div>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <div class="search-box mr-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="bx bx-search-alt search-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="text-sm-right">
                      <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Add New Order</button>
                    </div>
                  </div><!-- end col-->
                </div>

                <div class="table-responsive">
                  <table id="tbsOrder" class="table table-centered table-nowrap text-center">
                    <thead class="thead-light">
                    <tr>
                      <th>#</th>
                      <th>Mã Đơn</th>
                      <th>Khách Hàng</th>
                      <th>Ngày Tạo Đơn</th>
                      <th>Số Lượng</th>
                      <th>Thành Tiền</th>
                      <th>Trạng Thái</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                      <i class="mdi mdi-chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                  <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->

      </div>
      <!-- container-fluid -->
    </div>
  </div>
  <!-- End Page-content -->

  <!-- Modal -->
  <div id="modalOrderHistory" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lịch Sử Đơn Hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mb-2">Mã Đơn Hàng: <span id="orderId" class="text-primary"></span></p>
          <div class="table-responsive">
            <table id="tbsOrderHistory" class="table table-centered table-nowrap">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ngày Cập Nhật</th>
                <th scope="col">Trạng Thái</th>
                <th scope="col">Nhân Viên Xử Lý</th>
                <th scope="col">Ghi Chú</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>

              </tfoot>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<th:block th:replace="/layout/right-bar :: right-bar"/>
<!-- End right-bar -->

<!-- JAVASCRIPT -->
<th:block th:replace="/layout/script/javascript :: javascript"/>
<!-- App js -->
<th:block th:replace="/layout/script/app-js :: app-js"/>

<script>
  let page = {
    urls: {
      getAllOrders: App.BASER_URL + "/orders/admin",
      getOrderHistory : App.BASER_URL + "/orders/admin/history/"
    },
    elements: {
    },
    loadData: {},
    commands: {},
    dialogs: {
      elements: {},
      commands: {},
      alertDanger: {}
    },
  }


  // page.elements.modalDetail = $('#modalDetail');

  page.elements.tbsOrder = $('#tbsOrder tbody');

  page.commands.handleShowOrderHistory = () => {
    $('button.viewOrderHistory').on('click', function () {
      let orderId = $(this).attr("id");
      $.ajax({
        headers: {
          "accept": "application/json",
          "content-type": "application/json"
        },
        type: "GET",
        url: page.urls.getOrderHistory + orderId
      })
              .done((data) => {
                $('#modalOrderHistory').modal('show');
                $('#orderId').text(orderId);
                let tbsBody = $('#tbsOrderHistory tbody');
                tbsBody.html('')

                $.each(data, (index, value) => {
                  let str = `
                          <tr>
                              <td>
                                  <a href="javascript: void(0);" class="text-body font-weight-bold">${index + 1}</a>
                              </td>
                              <td>${value.date}</td>
                              <td>${value.strValue}</td>
                              <td>${value.employeeId}</td>
                              <td>${value.description}</td>
                          </tr>
                      `;
                  tbsBody.append(str);
                })

              })
              .fail((jqXHR) => {
                // App.SweetAlert.showErrorAlert(jqXHR.responseJSON.message);
                // console.log(jqXHR);
              })


    });
  }

  let orders = [];

  page.commands.getAllOrders = () => {
    return $.ajax({
      headers: {
        "accept": "application/json",
        "content-type": "application/json"
      },
      type: "GET",
      url: page.urls.getAllOrders
    })
            .done((data) => {
              console.log(orders)
              orders = data;
            })
            .fail((jqXHR) => {
              console.log(jqXHR);
            })
  }

  page.commands.renderOrders = (orders) => {
    page.elements.tbsOrder.html("");

    $.each(orders, (index, value) => {
      let str = `
              <tr>
                  <td>
                      <a href="javascript: void(0);" class="text-body font-weight-bold">${index + 1}</a>
                  </td>
                  <td>${value.id}</td>
                  <td>${value.customerName}</td>
                  <td>${value.orderDate}</td>
                  <td>${value.quantityTotal}</td>
                  <td>${App.formatNumber(value.totalAmount)}</td>
                  <td id="td_${index}">
                      <span class="font-size-12 badge badge-pill ">${value.situationValue}</span>
                  </td>
                  <td>
                      <button type="button" class="btn btn-primary btn-sm btn-rounded viewOrderHistory" id="${value.id}" data-toggle="modal" data-target=".exampleModal">
                          Lịch Sử Đơn
                      </button>
                  </td>
              </tr>
          `;
      page.elements.tbsOrder.append(str);
      switch (value.situationValue) {
        case "Đang Chờ Xử Lý":
          $(`#td_${index} span`).addClass('badge-soft-warning');
          break;
        case "Đang Giao Hàng":
          $(`#td_${index} span`).addClass('badge-soft-primary');
          break;
        case "Hoàn Thành":
          $(`#td_${index} span`).addClass('badge-soft-success');
          console.log(11111)
          break;
        case "Đã Hủy":
          $(`#td_${index} span`).addClass('badge-soft-danger');
          break;
      }
    })
    page.commands.handleShowOrderHistory();
  }

  $(() => {
    page.commands.getAllOrders().then(() => {
      page.commands.renderOrders(orders);
    });
  })

</script>
</body>
</html>