<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Create Purchase Order Page</title>

        <!-- Meta -->
        <th:block th:replace="/layout/head/meta"/>
        <!-- App-favicon -->
        <th:block th:replace="/layout/head/app-favicon"/>
        <!-- Touch-spin-css -->
        <th:block th:replace="/layout/head/bootstrap-touchspin-css"/>
        <!-- Main -->
        <th:block th:replace="/layout/head/main"/>
        <!-- Font-awesome-css -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom css -->
        <th:block th:replace="/layout/head/custom-css"/>

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- Begin page-topbar -->
            <th:block th:replace="/layout/page-topbar :: page-topbar"/>
            <!-- End page-topbar -->

            <!-- Begin vertical-menu -->
            <th:block th:replace="/layout/vertical-menu :: vertical-menu"/>
            <!-- End vertical-menu -->

            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Create Purchase Order</h4>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Order</a></li>
                                            <li class="breadcrumb-item active">Create</li>
                                        </ol>
                                    </div>

                                </div>
                                <div class="position-relative col-sm-8 mb-3">
                                    <input type="text" class="form-control" placeholder="Search product...">
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-centered mb-0 table-nowrap text-center">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Title</th>
                                                    <th>Price</th>
                                                    <th>Available</th>
                                                    <th>Quantity</th>
                                                    <th colspan="2">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="\assets\images\product\img-1.png" alt="product-img" title="product-img" class="avatar-md">
                                                    </td>
                                                    <td>
                                                        <a href="/products/details/${slug}" class="text-dark text-left">Half sleeve T-shirt</a>

                                                    </td>
                                                    <td>
                                                        $ 450
                                                    </td>
                                                    <td>
                                                        10
                                                    </td>
                                                    <td>
                                                        <div style="width: 120px;">
                                                            <div class="input-group  bootstrap-touchspin bootstrap-touchspin-injected">
                                                                <input type="text" value="02" name="demo_vertical" class="form-control">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        $ 900
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="action-icon text-danger"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="4"></td>
                                                    <td>Total Quantity: </td>
                                                    <td class="text-right" colspan="2" id="totalQuantity">10</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"></td>
                                                    <td>Total Amount: </td>
                                                    <td class="text-right font-size-15" colspan="2"><b id="totalAmount">1,857</b> đ</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-sm-6">
                                                <a href="/purchase-orders/list" class="btn btn-secondary">
                                                    <i class="mdi mdi-arrow-left mr-1"></i>
                                                    Purchase Order List
                                                </a>
                                            </div> <!-- end col -->
                                            <div class="col-sm-6">
                                                <div class="text-sm-right mt-2 mt-sm-0">
                                                    <button id="btnCreatePurchaseOrder" type="button" class="btn btn-success">
                                                        <i class="mdi mdi-cart-arrow-right mr-1"></i>
                                                        Checkout
                                                    </button>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h4 class="card-title mb-3">Customer Info</h4>
                                            </div>

                                        </div>

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td>Company name :</td>
                                                        <td>
                                                            <input id="companyName" name="companyName" type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Full name :</td>
                                                        <td>
                                                            <input id="fullName" name="fullName" type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email :</td>
                                                        <td>
                                                            <input id="email" name="email" type="email" class="form-control">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone :</td>
                                                        <td>
                                                            <input id="phone" name="phone" type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Province : </td>
                                                        <td>
                                                            <select class="form-control" id="province" name="province"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>District :</td>
                                                        <td>
                                                            <select class="form-control" id="district" name="district"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ward : </td>
                                                        <td>
                                                            <select class="form-control" id="ward" name="ward"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address :</td>
                                                        <td>
                                                            <input id="address" name="address" type="text" class="form-control">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end table-responsive -->
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- Footer Start -->
                <footer class="footer">
                    <th:block th:replace="/layout/head/error-collapse"/>
                </footer>
                <!-- End Footer -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- END layout-wrapper -->
        <div class="loader hide"></div>

        <!-- Right Sidebar -->
        <th:block th:replace="/layout/right-bar :: right-bar"/>
        <!-- End right-bar -->

        <!-- JAVASCRIPT -->
        <th:block th:replace="/layout/script/javascript :: javascript"/>
        <!-- Touch-spin Js -->
        <th:block th:replace="/layout/script/bootrstrap-touchspin-js"/>
        <!-- App js -->
        <th:block th:replace="/layout/script/app-js :: app-js"/>
    </body>

    <script>

        let page = {
            url: {
                getAllProvinces: App.GET_PROVINCES + "/",
                getAllDistricts: App.GET_PROVINCES + "/district/",
                getAllWards: App.GET_PROVINCES + "/ward/",

            },
            elements: {
                role: {},
                userInfo: {
                    locationRegion: {}
                },

            },
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {},
                alertDanger: {}
            },

            initializeControlEvent: {}
        }

        let locationRegion = {};


        page.elements.companyName = $('#companyName');
        page.elements.fullName = $('#fullName');
        page.elements.phone = $('#phone');
        page.elements.email = $('#email');

        page.elements.address = $('#address');
        page.elements.ward = $('#ward');
        page.elements.district = $('#district');
        page.elements.province = $('#province');

        page.elements.totalAmount = $('#totalAmount');
        page.elements.totalQuantity = $('#totalQuantity');


        page.elements.footerAccordion = $(".footer-modal section.accordion");
        page.elements.footerContent = $(".footer-modal section.accordion .content");
        page.elements.accordionCollapse = $('input[name=collapse]');


        page.commands.drawProvinces = () => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllProvinces
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                        page.elements.province.append(str);
                    })
                })
                .fail((jqxHR) => {
                    console.log(jqxHR);
                })
        }

        page.commands.drawDistricts = (provinceId) => {
            return $.ajax({
                "headers": {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllDistricts + provinceId
            })
                .done((data) => {

                    if (data.results.length === 0) {
                        App.IziToast.showErrorAlert("Loading of districts is fail");
                    }else {
                        $.each(data.results, (i, item) => {
                            let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                            page.elements.district.append(str);
                        })
                    }
                })
        }

        page.commands.drawWards = (districtId) => {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": page.url.getAllWards + districtId

            })
                .done((data) => {
                    if (data.results.length === 0) {
                        App.IziToast.showErrorAlert("Loading of wards is fail");
                    }else {
                        $.each(data.results, (i, item) => {
                            let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                            page.elements.ward.append(str);
                        })
                    }
                })
        }

        page.dialogs.commands.provinceChange = () => {
            return $.ajax({
                "type": "GET",
                "url": page.url.getAllDistricts + locationRegion.provinceId
            }).done((data) => {
                page.elements.district.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    page.elements.district.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of districts is fail");
            });
        }

        page.dialogs.commands.districtChange = () => {
            $.ajax({
                "type": "GET",
                "url": page.url.getAllWards + locationRegion.districtId

            }).done((data) => {
                page.elements.ward.empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    page.elements.ward.append(str);
                });
            }).fail(function () {
                App.IziToast.showErrorAlert("Loading of wards is fail");
            });
        }

        page.commands.unbindAll = () => {
            $('.delete').off();
        }

        page.initializeControlEvent = () => {
            page.elements.province.on('change', function () {
                locationRegion.provinceId = page.elements.province.val();

                page.dialogs.commands.provinceChange().done(function () {
                    locationRegion.districtId = page.elements.district.prop("selectedIndex", 0).val();
                    page.dialogs.commands.districtChange();
                })
            })

            page.elements.district.on('change', function () {
                locationRegion.districtId = page.elements.district.val();
                page.dialogs.commands.districtChange();
            })
        }

        $(function () {

            page.commands.drawProvinces().then(function (){
                let provinceId = page.elements.province.prop("selectedIndex", 0).val();

                if (provinceId != null) {
                    page.commands.drawDistricts(provinceId).then(function (){
                        let districtId = page.elements.district.prop("selectedIndex", 0).val();

                        if (districtId != null){
                            page.commands.drawWards(districtId);
                        }
                    })
                }
            });

            page.initializeControlEvent();
        })


    </script>


</html>