<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-details">
  <div id="modalDetail" class="modal  fade exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-2">Mã Đơn Hàng : <span class="text-primary" id="orderId"></span></p>
          <p class="mb-2">Khách Hàng : <span class="text-primary" id="customer"></span></p>
          <p class="mb-2">Ngày Đặt Hàng : <span class="text-primary" id="orderDate"></span></p>
          <p class="mb-2">Ngày Xuất Kho : <span class="text-primary" id="inventoryDeliveryDate"></span></p>
          <div class="table-responsive">
            <table id="tableDetails" class="table table-centered mb-0 table-nowrap">
              <thead class="thead-light">
              <tr>
                <th>Product</th>
                <th>Title</th>
                <th>Price</th>
                <th>Product Code</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
              <tr>
                <td colspan="1">
                  <h6>Quantity Total:</h6>
                </td>
                <td colspan="3" id="quantityTotal">

                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <h6>Total Amount:</h6>
                </td>
                <td colspan="3" id="totalAmount">

                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
