<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-description">
  <div id="mdDescription" class="modal fade " data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">Description Cancelled Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-alert-danger hide">
            <ul></ul>
          </div>
          <form id="frmCreateTechSpec">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <textarea required="" class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="btnCancelOrder" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</th:block>
